In [1]:
import pandas as pd

In [3]:
fourl = pd.concat(
    [
        pd.read_csv('csv/DoubleEG_2016G.csv'), 
        pd.read_csv('csv/DoubleEG_2016H.csv'),
        pd.read_csv('csv/DoubleMu_2016G.csv'),
        pd.read_csv('csv/DoubleMu_2016H.csv')
    ]
)

In [4]:
fourl.head()

,Run,Event,Lumi,PID1,E1,px1,py1,pz1,pt1,eta1,...,px4,py4,pz4,pt4,eta4,phi4,Q4,mZ1,mZ2,mH
0,278923,77121379,76,-11,62.8288,10.23180,41.1170,-46.39120,42.3710,-0.946899,...,12.0397,-1.728700,3.70222,12.1632,0.299866,-0.142609,1,85.2212,21.0255,128.116
1,279667,22971279,72,11,61.9385,-3.89047,-54.1054,29.89730,54.2451,0.526489,...,-17.1303,20.471200,-49.01560,26.6930,-1.367920,2.267580,-1,90.8834,91.5323,224.759
2,279667,812208114,507,11,92.0813,40.75720,82.3732,5.69861,91.9048,0.061966,...,13.5531,0.525132,24.62320,13.5633,1.357910,0.038727,1,91.0718,89.9933,301.925
3,279667,1738465351,997,-11,155.2600,-109.96900,-12.9998,108.82800,110.7350,0.869141,...,49.5445,12.221700,-18.84230,51.0297,-0.361328,0.241852,-1,91.9935,71.2166,446.838
4,279694,3989731853,2211,-11,104.6720,47.23520,-28.0274,-89.10390,54.9245,-1.260740,...,21.8170,-18.365200,-80.13530,28.5177,-1.756590,-0.699707,1,100.1460,81.2674,200.093

In [5]:
len(fourl)

1033

In [6]:
fourl = fourl.drop_duplicates(subset=['Event'], keep='first')

In [7]:
len(fourl)

838